In [1]:
import numpy as np
import pandas as pd

In [7]:
a=pd.DataFrame([[35,21],[41,34]],index=['2017 sales','2018 sales'],columns=['apples','bananas'])
a

            apples  bananas
2017 sales      35       21
2018 sales      41       34

In [6]:
b=pd.DataFrame([['Austin',139,'sun'],['Dalas',237,'sun'],['Austin',139,'Mon'],['Dalas',456,'Mon']],columns=['city','visitor','weekday'])
b

     city  visitor weekday
0  Austin      139     sun
1   Dalas      237     sun
2  Austin      139     Mon
3   Dalas      456     Mon

In [13]:
Sunday_average_visitor=np.average(b[b['weekday']=='sun']['visitor'])
Monday_average_visitor=np.average(b[b['weekday']=='Mon']['visitor'])
print(Sunday_average_visitor)
print(Monday_average_visitor)

188.0
297.5